:root {
  /* Colors: Solid */
  --vp-c-white: #fff;
  --vp-c-black: #000;
  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);

  /* Colors: Palette */
  --vp-c-gray-1: #e7e7e7;
  --vp-c-gray-2: #e4e4e9;
  --vp-c-gray-3: #ebebef;
  --vp-c-gray-soft: rgb(142 150 170 / 0.14);
  --vp-c-indigo-1: #0052d9;
  --vp-c-indigo-2: #3a5ccc;
  --vp-c-indigo-3: #5672cd;
  --vp-c-indigo-soft: rgb(100 108 255 / 0.14);
  --vp-c-purple-1: #6f42c1;
  --vp-c-purple-2: #7e4cc9;
  --vp-c-purple-3: #8e5cd9;
  --vp-c-purple-soft: rgb(159 122 234 / 0.14);
  --vp-c-green-1: #2ba471;
  --vp-c-green-2: #299764;
  --vp-c-green-3: #30a46c;
  --vp-c-green-soft: rgb(16 185 129 / 0.14);
  --vp-c-yellow-1: #e37318;
  --vp-c-yellow-2: #946300;
  --vp-c-yellow-3: #9f6a00;
  --vp-c-yellow-soft: rgb(234 179 8 / 0.14);
  --vp-c-red-1: #d54941;
  --vp-c-red-2: #d5393e;
  --vp-c-red-3: #e0575b;
  --vp-c-red-soft: rgb(244 63 94 / 0.14);
  --vp-c-sponsor: #db2777;

  /* Colors: Background */
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;

  /* Colors: Borders */
  --vp-c-border: #c2c2c4;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;

  /* Colors: Text */
  --vp-c-text-1: rgb(60 60 67);
  --vp-c-text-2: rgb(60 60 67 / 0.78);
  --vp-c-text-3: rgb(60 60 67 / 0.56);

  /* Colors: Function */
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);
  --vp-c-note-1: var(--vp-c-brand-1);
  --vp-c-note-2: var(--vp-c-brand-2);
  --vp-c-note-3: var(--vp-c-brand-3);
  --vp-c-note-soft: var(--vp-c-brand-soft);
  --vp-c-success-1: var(--vp-c-green-1);
  --vp-c-success-2: var(--vp-c-green-2);
  --vp-c-success-3: var(--vp-c-green-3);
  --vp-c-success-soft: var(--vp-c-green-soft);
  --vp-c-important-1: var(--vp-c-purple-1);
  --vp-c-important-2: var(--vp-c-purple-2);
  --vp-c-important-3: var(--vp-c-purple-3);
  --vp-c-important-soft: var(--vp-c-purple-soft);
  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);
  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
  --vp-c-caution-1: var(--vp-c-red-1);
  --vp-c-caution-2: var(--vp-c-red-2);
  --vp-c-caution-3: var(--vp-c-red-3);
  --vp-c-caution-soft: var(--vp-c-red-soft);

  /* Backdrop */
  --vp-backdrop-bg-color: rgb(0 0 0 / 0.6);

  /* Colors: Placeholder */
  --vp-c-placeholder-1: rgb(0 0 0 / 0.4);
  --vp-c-placeholder-2: rgb(255 255 255 / 0.55);

  /* Colors: Hover */
  --vp-c-hover-1: rgb(0 0 0 / 0.9);
  --vp-c-hover-2: rgb(255 255 255);
}

.dark {
  /* Colors: Solid */
  --vp-c-neutral: var(--vp-c-white);
  --vp-c-neutral-inverse: var(--vp-c-black);

  /* Colors: Palette */
  --vp-c-gray-1: #383838;
  --vp-c-gray-2: #414853;
  --vp-c-gray-3: #32363f;
  --vp-c-gray-soft: rgb(101 117 133 / 0.16);
  --vp-c-indigo-1: #4582e6;
  --vp-c-indigo-2: #5c73e7;
  --vp-c-indigo-3: #3e63dd;
  --vp-c-indigo-soft: rgb(100 108 255 / 0.16);
  --vp-c-purple-1: #c8abfa;
  --vp-c-purple-2: #a879e6;
  --vp-c-purple-3: #8e5cd9;
  --vp-c-purple-soft: rgb(159 122 234 / 0.16);
  --vp-c-green-1: #059465;
  --vp-c-green-2: #30a46c;
  --vp-c-green-3: #298459;
  --vp-c-green-soft: rgb(16 185 129 / 0.16);
  --vp-c-yellow-1: #cf6e2d;
  --vp-c-yellow-2: #da8b17;
  --vp-c-yellow-3: #a46a0a;
  --vp-c-yellow-soft: rgb(234 179 8 / 0.16);
  --vp-c-red-1: #c64751;
  --vp-c-red-2: #f14158;
  --vp-c-red-3: #b62a3c;
  --vp-c-red-soft: rgb(244 63 94 / 0.16);

  /* Colors: Background */
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;

  /* Colors: Borders */
  --vp-c-border: #3c3f44;
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #000;

  /* Colors: Text */
  --vp-c-text-1: rgb(255 255 245 / 0.86);
  --vp-c-text-2: rgb(235 235 245 / 0.6);
  --vp-c-text-3: rgb(235 235 245 / 0.38);

  /* Colors: Placeholder */
  --vp-c-placeholder-1: rgb(255 255 255 / 0.35);
  --vp-c-placeholder-2: rgb(255 255 255 / 0.55);

  /* Colors: Hover */
  --vp-c-hover-1: rgb(255 255 255 / 0.9);
  --vp-c-hover-2: rgb(255 255 255 / 0.9);
}
