.vp-doc ul, .vp-doc ol {
  margin: 0;
  padding: 0;
}

.vp-doc li + li {
  margin: 0;
}

.vp-doc p, .vp-doc summary {
  margin: 0;
  padding: 0;
}

.vp-doc a {
  font-weight: initial;
  color: initial;
  text-decoration: initial;
  text-underline-offset: initial;
  transition: initial;
}

.vp-doc a:hover {
  color: initial;
}